body {
    background: url(https://images.unsplash.com/photo-1495741545814-2d7f4d75ea09);
    background-size: cover;
    background-position: center;
}


body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
   	font-family: "Lato";

}

.main{
 	margin-top: 70px;
}

h1.title {
  font-weight: 700;
	font-size: 3em;
  color:white
}

hr{
	width: 20%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
  padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-back{
	font-size: 11px;
	text-align: center;
}
